</main>
    <footer>
        <div class="container">
            <div>
                <div class="logo">Resume Builder</div>
                <p class="copyright">&copy; <%= new Date().getFullYear() %> RESUME BUILDER. ALL RIGHTS RESERVED</p>
            </div>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </footer>
    <script src="/js/form-enhancements.js"></script>
</body>
</html>
